<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">My Profile</h2>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-sm-4"><strong>Username:</strong></div>
            <div class="col-sm-8"><%= @user.username %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4"><strong>Name:</strong></div>
            <div class="col-sm-8"><%= @user.name %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4"><strong>Email:</strong></div>
            <div class="col-sm-8"><%= @user.email %></div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4"><strong>Role:</strong></div>
            <div class="col-sm-8"><%= @user.role_id.titleize %></div>
          </div>

          <div class="text-center mt-4">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
            <%= link_to 'Back', :back, class: 'btn btn-secondary ms-2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
