<%= form_with(model: [:admin, gallery_image]) do |f| %>
  <% if gallery_image.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(gallery_image.errors.count, "error") %> prohibited this image from being saved:</h4>
      <ul>
        <% gallery_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, rows: 3, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :alt_text, "Alt Text", class: "form-label" %>
    <%= f.text_field :alt_text, class: "form-control" %>
    <div class="form-text">
      Describe the image for users who can't see it. This helps with accessibility.
    </div>
  </div>
  
  <div class="text-end">
    <%= link_to "Cancel",
        gallery_image.persisted? ? admin_gallery_image_path(gallery_image) : admin_gallery_images_path,
        class: "btn btn-link" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
