<!DOCTYPE html>
<html>
  <head>
    <title>Mofongo Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>

      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="#">Mofongo Admin</a>
            <div id="close-sidebar">
              <i class="fas fa-times"></i>
            </div>
          </div>

          <div class="sidebar-header">
            <div class="user-pic">
              <div class="rounded-circle bg-white text-dark d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; font-size: 24px;">
                <%= current_user.name.first %>
              </div>
            </div>
            <div class="user-info">
              <span class="user-name"><%= current_user.name %></span>
              <span class="user-role"><%= current_user.role_id.titleize %></span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
            </div>
          </div>

          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>

              <li>
                <%= link_to admin_dashboard_path do %>
                  <i class="fas fa-gauge"></i>
                  <span>Dashboard</span>
                <% end %>
              </li>

              <li class="sidebar-menu">
                  <%= link_to admin_users_path do %>
                    <i class="fas fa-users"></i>
                    Users 
                  <% end %>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <%= link_to admin_users_path do %>
                        <i class="fas fa-list"></i>
                        List Users
                      <% end %>
                    </li>
                    <li>
                      <%= link_to new_admin_user_path do %>
                        <i class="fas fa-user-plus"></i>
                        New User
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="sidebar-footer">
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-cog"></i>
          <% end %>

          <%= button_to destroy_user_session_path, method: :delete, class: "logout-link", form: { data: { turbo: false } } do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </div>
      </nav>

      <main class="page-content">
        <div class="container-fluid">
          <% if notice %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= notice %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          
          <% if alert %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= alert %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </main>
    </div>

    <%= javascript_include_tag "admin", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
