<!DOCTYPE html>
<html>
  <head>
    <title>Mofongo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    
    <div class="container mt-4">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert #{name == 'notice' ? 'alert-success' : 'alert-danger'} alert-dismissible fade show" %>
      <% end %>
      
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
